{% extends 'base.html' %}
{% block content %}
  <body>
  <div class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->


    <div class="site-navbar-wrap js-site-navbar bg-white">

      <div class="container">
        <div class="site-navbar bg-light">
          <div class="py-1">
            <div class="row align-items-center">
              <div class="col-2">
                <h2 class="mb-0 site-logo"><a href="index.html">Suites</a></h2>
              </div>
              <div class="col-10">
                <nav class="site-navigation text-right" role="navigation">
                  <div class="container">

                    <div class="d-inline-block d-lg-none  ml-md-0 mr-auto py-3"><a href="#" class="site-menu-toggle js-menu-toggle"><span class="icon-menu h3"></span></a></div>
                    <ul class="site-menu js-clone-nav d-none d-lg-block">
                      <li>
                        <a href="/home/">Home</a>
                      </li>
                      <li class="has-children">
                        <a href="rooms.html">Rooms</a>
                        <ul class="dropdown arrow-top">
                          <li><a href="rooms.html">Standard Room</a></li>
                          <li><a href="rooms.html">Family Room</a></li>
                          <li><a href="rooms.html">Single Room</a></li>
                          <li class="has-children">
                            <a href="rooms.html">Rooms</a>
                            <ul class="dropdown">
                              <li><a href="rooms.html">America</a></li>
                              <li><a href="rooms.html">Europe</a></li>
                              <li><a href="rooms.html">Asia</a></li>
                              <li><a href="rooms.html">Africa</a></li>

                            </ul>
                          </li>

                        </ul>
                      </li>
                      <li><a href="events.html">Events</a></li>
                      <li><a href="about.html">About</a></li>
                      <li><a href="contact.html">Contact</a></li>
                      {% if user.is_staff %}
                      <li class="active"><a href="/my_ads/"style="color:white;"><button class="btn btn-primary pill text-white px-4">My Ads</button></a>
                      {% endif %}
                      {% if user.is_authenticated %}
                      <li><a href="/logout/"style="color:white;"><button class="btn btn-primary pill text-white px-4">Log out</button></a>
                      {% else %}

                      <li><a href="#ex1" rel="modal:open"style="color:white;"><button class="btn btn-primary pill text-white px-4">Sign up</button></a>
                      <li><a href="#ex2" rel="modal:open"style="color:white;"><button class="btn btn-primary pill text-white px-4">Log in</button></a>
                      {% endif %}
                    </ul>
                  </div>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
      <div id="ex1" class="modal"style="max-height:600px;max-width:800px;">
      <div class="container"style="text-align:center;">
        <h2>Click here to register as <a href="/customer_signup/">Customer</a> </h2><br><br>
        <h2>Click here to register as <a href="/staff_signup/">Hotel-Staff</a> </h2>
      </div>
      </div>
     <div id="ex2" class="modal"style="max-height:600px;max-width:800px;">
      <div class="container"style="text-align:center;">
        <h2>Click here to Log in as <a href="/login_customer/">Customer</a> </h2><br><br>
        <h2>Click here to Log in as <a href="/login_staff/">Hotel-Staff</a> </h2>
      </div>
     </div>
<div class="container-fluid"style="min-height:100px;background:black;">
</div>
  <div class="container"style="color:black;height:700px;">
      <div class="row align-items-center justify-content-center text-center">
          <div class="col-8"style="margin-top:50px;">
            <form method="post" enctype="multipart/form-data">{% csrf_token %}
                <table>
                {{form1.as_table}}
                </table><br>
                <button class="btn btn-primary pill text-white px-4">Save</button>
            </form>
            <a href="/my_ads/"> <button class="btn btn-primary pill text-white px-4"style="margin-top:-70px;margin-left:250px;">Cancel</button></a>
          </div>
      </div>
  </div>
  {% endblock %}